<%= form_with(model: livro) do |form| %>
  <% if livro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(livro.errors.count, "error") %> prohibited this livro from being saved:</h2>

      <ul>
        <% livro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo, class: "form-control" %>
  </div>

  <div>
    <%= form.label :autor, style: "display: block" %>
    <%= form.text_field :autor, class: "form-control" %>
  </div>

  <div>
    <%= form.label :nota, style: "display: block" %>
    <%= form.number_field :nota, class: "form-control" %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao, class: "form-control" %>
  </div>

  <div class="d-flex">
    <%= form.submit "Adicionar livro", class: "btn btn-primary mt-4 btn-block" %>
  </div>
<% end %>
