<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <p>
      <%= livro.titulo %>
    </p>
  </p>

  <p>
    <strong>Autor:</strong>
    <p>
      <%= livro.autor %>
    </p>
  </p>

  <p>
    <strong>Nota:</strong>
    <p>
      <%= livro.nota %> estrelas.
    </p>
  </p>

  <p>
    <strong>Descricao:</strong>
    <p>
      <%= livro.descricao %>
    </p>
  </p>

</div>
